<div class="d-flex justify-content-start">
  <div class="card shadow-sm" style="width: 156px; height: 120px">
    <img
      src="{{ product.pictureUrl }}"
      alt="{{ product.name }}"
      class="card-img-top"
      style="height: 91px; object-fit: contain" />
    <div class="card-body p-1 border-top">
      <a routerLink="/product/{{product.id}}" class="text-decoration-none link-dark stretched-link">
        <div style="font-size: 0.75rem" class="text-truncate">{{ product.name }}</div>
      </a>
    </div>
  </div>
</div>
