<ng-container *ngFor="let product of products; let i = index">
  <div class="card mb-3 shadow" style="background-color: #00000008; height: 180px">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <p class="card-title h6">{{ product.name }}</p>
        </div>
        <div class="col-auto">
          <p style="color: brown" class="h6">{{ 123 | currency: "":"":"":"tr" }} TL</p>
        </div>
      </div>
      <div class="row" style="height: 100px">
        <div class="align-self-start bg-white text-center" style="width: 150px; background-clip: content-box">
          <img
            src="{{ product.pictureUrl }}"
            alt="{{ product.name }}"
            class="img-fluid rounded-start"
            style="height: 100px" />
        </div>
        <div class="col">
          <div class="row">
            <p class="card-text small">This is a wider card with supporting text.</p>
            <p class="card-text small"><small class="text-muted">Last updated 3 mins ago</small></p>
            <div class="text-end">
              <div class="btn-group" dropdown>
                <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle btn-sm">
                  İşlemler<span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                  <li><a class="dropdown-item small" routerLink="/uye/uyelik/ilan/duzenle">Düzenle</a></li>
                  <li><a class="dropdown-item small" routerLink="/uye/uyelik/ilan/duzenle">Yayından kaldır</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
