<p>app-product-base works!</p>
<div class="row">
  <app-breadcrumbs *ngIf="selectedCategory" [selectedCategoryId]="selectedCategory.id"></app-breadcrumbs>
  <section class="d-none d-sm-block col-sm-4 col-md-3">
    <app-left-nav
      *ngIf="allCategories"
      [selectedCategory]="selectedCategory"
      [allCategories]="allCategories"></app-left-nav>
    <app-filter *ngIf="shopParams" [categoryName]="mainCategoryName" [shopParams]="shopParams"></app-filter>
  </section>
</div>

<router-outlet></router-outlet>
namber
