<form #form="ngForm" (ngSubmit)="onSearch()">
  <div class="accordion mt-3">
    <div class="accordion-item" *ngIf="filterAreas.isNew">
      <h2 class="accordion-header">
        <button
          class="accordion-button px-3 py-2"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOne">
          Durumu
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
        <div class="accordion-body px-3 py-2">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="rdStatusNew"
              id="rdNew"
              [value]="true"
              [(ngModel)]="shopParams.isNew" />
            <label class="form-check-label" for="rdNew"> Sıfır </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="rdStatusSecond"
              id="rdSecond"
              [value]="false"
              [(ngModel)]="shopParams.isNew" />
            <label class="form-check-label" for="rdSecond"> İkinci El </label>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item" *ngIf="filterAreas.maxValue">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button
          class="accordion-button collapsed px-3 py-2"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseTwo">
          Fiyat
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
        <div class="accordion-body px-3 py-2">
          <div class="btn-group mb-1">
            <input
              type="radio"
              class="btn-check"
              name="btnradioTL"
              id="btnradio1"
              checked
              [value]="currencyType.TL"
              [(ngModel)]="shopParams.currency" />
            <label class="btn btn-sm btn-outline-secondary" for="btnradio1">TL</label>

            <input
              type="radio"
              class="btn-check"
              name="btnradioUSD"
              id="btnradio2"
              [value]="currencyType.USD"
              [(ngModel)]="shopParams.currency" />
            <label class="btn btn-sm btn-outline-secondary" for="btnradio2">USD</label>

            <input
              type="radio"
              class="btn-check"
              name="btnradioEUR"
              id="btnradio3"
              [value]="currencyType.EUR"
              [(ngModel)]="shopParams.currency" />
            <label class="btn btn-sm btn-outline-secondary" for="btnradio3">EUR</label>

            <input
              type="radio"
              class="btn-check"
              name="btnradioGBP"
              id="btnradio4"
              [value]="currencyType.GBP"
              [(ngModel)]="shopParams.currency" />
            <label class="btn btn-sm btn-outline-secondary" for="btnradio4">GBP</label>
          </div>
          <div class="row align-items-center">
            <div class="col">
              <input
                type="text"
                class="form-control"
                [(ngModel)]="shopParams.minValue"
                name="minVal"
                appOnlyNumber
                [placeholder]="'min ' + currencyType[shopParams.currency]" />
            </div>
            <div class="col-auto p-0">-</div>
            <div class="col">
              <input
                type="text"
                class="form-control"
                name="maxVal"
                [(ngModel)]="shopParams.maxValue"
                appOnlyNumber
                [placeholder]="'max ' + currencyType[shopParams.currency]" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item" *ngIf="filterAreas.cityId">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button
          class="accordion-button collapsed px-3 py-2"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#address">
          Adres
        </button>
      </h2>
      <div id="address" class="accordion-collapse collapse">
        <div class="accordion-body px-3 py-2">
          <select
            class="form-select form-select-sm mb-1"
            *ngIf="cities"
            [(ngModel)]="shopParams.cityId"
            name="citySelect"
            (change)="onSelectChange($event.target.value)">
            <option value="0">İl Seçin</option>
            <option value="101">Kuyumcukent</option>
            <option value="102">Kapalıçarşı</option>
            <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
          </select>
          <select class="form-select form-select-sm" [(ngModel)]="shopParams.countyId" name="countySelect">
            <option selected value="0">İlçe Seçin</option>
            <option *ngFor="let county of counties" [value]="county.id">{{ county.name }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="accordion-item" *ngIf="filterAreas.search">
      <h2 class="accordion-header" id="headingThree">
        <button
          class="accordion-button collapsed px-3 py-2"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree">
          Kelime ile filtrele
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse">
        <div class="accordion-body px-3 py-2">
          <input
            (keyup.enter)="onSearch(search.value)"
            type="text"
            class="form-control mr-2"
            #search
            placeholder="Ara"
            name="search"
            [ngModel]="shopParams.search" />
        </div>
      </div>
    </div>
  </div>
  <div class="text-end">
    <button class="btn btn-primary mt-3 px-5">Ara</button>
  </div>
</form>
