<ng-container *ngIf="shopService.customCategory$ | async as customCategory">
  <nav style="background-color: #eaeaea; font-size: 0.8rem" class="p-1 mb-2">
    <ol class="breadcrumb small m-0">
      <li class="breadcrumb-item"><a routerLink="/">Anasayfa</a></li>
      <li class="breadcrumb-item" *ngFor="let category of customCategory.parentCategories">
        <a [routerLink]="['/', customCategory.parentCategories[0].url, category.url]">{{ category.name }}</a>
      </li>
      <li class="breadcrumb-item active text-dark">{{ customCategory.selectedCategory.name }}</li>
    </ol>
  </nav>
</ng-container>
