<div class="card">
  <div class="card-body p-2">
    <div class="card-text small">
      Aramanızda <span style="color: brown" class="fw-bold">{{ totalCount }}</span> ilan bulundu
    </div>
    <div *ngIf="filterShopParams">
      <div *ngIf="this.filterShopParams.search" class="small me-2" style="display: inline-block">
        <span style="display: inline-block; vertical-align: middle" class="fw-bold me-1">Arama kelimesi: </span>
        <button class="btn btn-outline-secondary btn-sm filter" (click)="onResetClick(searchFilter.search)">
          {{ this.filterShopParams.search }} <em class="fa-solid fa-xmark"></em>
        </button>
      </div>
      <div *ngIf="this.filterShopParams.isNew !== undefined" class="small me-2" style="display: inline-block">
        <span style="display: inline-block; vertical-align: middle" class="fw-bold me-1">Durumu: </span>
        <button class="btn btn-outline-secondary btn-sm filter" (click)="onResetClick(searchFilter.isNew)">
          {{ this.filterShopParams.isNew ? "Sıfır" : "İkinci El" }} <em class="fa-solid fa-xmark"></em>
        </button>
      </div>
      <div *ngIf="this.filterShopParams.city" class="small me-2" style="display: inline-block">
        <span style="display: inline-block; vertical-align: middle" class="fw-bold me-1">İl: </span>
        <button class="btn btn-outline-secondary btn-sm filter" (click)="onResetClick(searchFilter.city)">
          {{ this.filterShopParams.city }} <em class="fa-solid fa-xmark"></em>
        </button>
      </div>
      <div *ngIf="this.filterShopParams.county" class="small me-2" style="display: inline-block">
        <span style="display: inline-block; vertical-align: middle" class="fw-bold me-1">İlçe: </span>
        <button class="btn btn-outline-secondary btn-sm filter" (click)="onResetClick(searchFilter.county)">
          {{ this.filterShopParams.county }} <em class="fa-solid fa-xmark"></em>
        </button>
      </div>
      <div *ngIf="this.price" class="small me-2" style="display: inline-block">
        <span style="display: inline-block; vertical-align: middle" class="fw-bold me-1">Fiyat: </span>
        <button class="btn btn-outline-secondary btn-sm filter" (click)="onResetClick(searchFilter.price)">
          {{ price }} <em class="fa-solid fa-xmark"></em>
        </button>
      </div>
      <button class="btn btn-outline-danger btn-sm filter ms-4" (click)="onResetClick()">Tümünü Temizle</button>
    </div>
  </div>
</div>
<hr />
