<form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
  <div class="form-floating my-3">
    <input
      type="text"
      class="form-control"
      name="username"
      #userName="ngModel"
      [(ngModel)]="model.userName"
      placeholder="E-Posta"
      [class.is-invalid]="userName.touched && userName.invalid"
      
      required />
    <label>E-Posta</label>
    <span class="invalid-feedback" *ngIf="!userName.valid && userName.touched">Please enter a valid e-mail!</span>
  </div>

  <div class="form-floating mb-3">
    <input
      type="password"
      class="form-control"
      name="password"
      #password="ngModel"
      [(ngModel)]="model.password"
      [class.is-invalid]="password.touched && password.invalid"
      required
      placeholder="Password" />
    <label>Şifre</label>
    <span class="invalid-feedback" *ngIf="!password.valid && password.touched">Please enter a valid name!</span>
  </div>
  <div class="form-group text-center">
    <button class="btn btn-success me-2" type="submit" [disabled]="!loginForm.valid">Giriş Yap</button>
    <button class="btn btn-light" routerLink="" type="button">İptal</button>
  </div>
</form>
