/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.list-group-item.active {
  background-color: #fffbed;
  border: 0px;
  border-bottom: 1px solid #ffc107 !important;
  color: black;
}

.ngx-gallery-thumbnail:not(.ngx-gallery-active:not(a)) {
  border: 0 !important;
}

.ngx-gallery-thumbnail.ngx-gallery-active {
  border: 1px solid darkblue !important;
}

.ngx-gallery-layout.thumbnails-bottom {
  padding: 10px;
}
