<hr>
<div class="row">
  <app-breadcrumbs *ngIf="selectedCategory" [selectedCategoryId]="selectedCategory.id"></app-breadcrumbs>
  <section class="d-none d-sm-block col-sm-4 col-md-3">
    <app-left-nav *ngIf="products" [selectedCategory]="selectedCategory" [allCategories]="allCategories"></app-left-nav>
    <app-filter [categoryName]="mainCategoryName" [shopParams]="shopParams"></app-filter>
  </section>
  <section class="col-sm-8 col-md-9">
    <app-filter-summary
      [filterShopParams]="filterShopParams"
      [totalCount]="totalCount"
      (removeFilterClicked)="onRemoveFilterClick($event)"></app-filter-summary>
    <div class="d-none d-md-block" *ngIf="totalCount > 0">
      <table
        class="table table-sm table-striped table-hover table-bordered align-middle sortable"
        style="text-align: center"
        aria-label="Ürünler">
        <thead>
          <tr>
            <th scope="col" style="width: 100px"></th>
            <th scope="col" style="text-align: start"><small>İlan Başlığı</small></th>
            <th scope="col" style="width: 80px" appSort="price" (headerClicked)="onHeaderClicked($event)">
              <small>Fiyat</small>
            </th>
            <th scope="col" style="width: 100px" appSort="createdDate" (headerClicked)="onHeaderClicked($event)">
              <small>İlan Tarihi</small>
            </th>
            <th scope="col" style="width: 100px"><small>İl / İlçe</small></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let product of products"
            style="line-height: 20px; height: 100px"
            routerLink="/product/{{ product.id }}">
            <td>
              <img src="{{ product.pictureUrl }}" style="max-height: 100px" class="img-fluid rounded" alt="..." />
            </td>
            <td style="text-align: start">
              <small>{{ product.name }}</small>
            </td>
            <td style="color: brown" class="text-nowrap">
              <small>{{ product.priceText }}</small>
            </td>
            <td>
              <small>{{ product.createdDate }}</small>
            </td>
            <td>
              <small>{{ product.county.city.name }}</small> <br /><small> {{ product.county.name }}</small>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-md-none" *ngIf="totalCount > 0">
      <table class="table table-striped table-hover table-bordered table-sm" aria-label="Ürünler" aria-hidden="true">
        <tbody>
          <tr *ngFor="let product of products" style="line-height: 20px">
            <td style="width: 100px">
              <img src="{{ product.pictureUrl }}" style="max-height: 100px" class="img-fluid rounded-start" alt="..." />
            </td>
            <td style="position: relative">
              <div class="mt-2">
                {{ product.name }}
              </div>
              <div style="position: absolute; bottom: 10px; font-size: 14px" class="text-muted">
                <i class="fa-solid fa-location-dot me-2"></i>
                <small>İstanbul / Bahçelievler </small>
              </div>
              <div style="position: absolute; bottom: 10px; right: 5px" class="text-primary fw-bold">
                <small>{{ product.price }} TL</small>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-center" *ngIf="totalCount > 0">
      <app-pager [pageSize]="shopParams.pageSize" [totalCount]="totalCount" (pageChanged)="onPageChanged($event)">
      </app-pager>
    </div>
    <div class="d-flex justify-content-center pb-2">
      <app-paging-header
        [totalCount]="totalCount"
        [pageSize]="shopParams.pageSize"
        [pageNumber]="shopParams.pageNumber"></app-paging-header>
    </div>
  </section>
</div>
