<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
  <div class="form-floating my-3">
    <input type="text" class="form-control" name="username" [(ngModel)]="model.username" placeholder="Username" />
    <label>E-Posta</label>
  </div>

  <div class="form-floating mb-3">
    <input type="password" class="form-control" name="password" [(ngModel)]="model.password" placeholder="Password" />
    <label>Şifre</label>
  </div>
  <div class="form-group text-center">
    <button class="btn btn-success me-2" type="submit">Üye Ol</button>
    <button class="btn btn-light" routerLink="" type="button">İptal</button>
  </div>
</form>
