<div class="row">
  <section class="d-none d-sm-block col-sm-4 col-md-3">
    <!-- <h5 class="text-warning ms-3">Sort</h5>
    <select class="form-select my-3" (change)="onSortSelected($event.target.value)">
      <option *ngFor="let sort of sortOptions" [value]="sort.value">
        {{ sort.name }}
      </option>
    </select> -->

    <!-- <h5 class="text-warning ms-3">Brands</h5> -->
    <!-- <ul class="list-group mt-5">
      <li
        class="list-group-item list-group-item-action d-flex justify-content-between align-items-start p-2"
        *ngFor="let brand of brands"
        [class.active]="brand.id === shopParams.brandId"
        [value]="brand.id"
        (click)="onBrandSelected(brand.id)">
        <small class="me-auto"> {{ brand.name }}</small>
        <small class="badge bg-secondary rounded-pill">12</small>
      </li>
    </ul> -->
    <!-- <h5 class="text-warning ms-3">Types</h5> -->
    <ul class="list-group my-3">
      <li
        class="list-group-item list-group-item-action d-flex align-items-center p-2"
        *ngFor="let type of types"
        [class.active]="type.id === shopParams.typeId"
        (click)="onTypeSelected(type.name)">
        <small> {{ type.name }}&nbsp;</small>
        <small style="font-size: 12px"> ({{ type.count }})</small>
      </li>
    </ul>
  </section>
  <section class="col-sm-8 col-md-9">
    <div>Vitrin</div>
    <hr class="m-2" />
    <div class="row">
      <div class="col-4 col-md-3 col-lg-2 g-2" *ngFor="let product of products">
        <app-product-item [product]="product"></app-product-item>
      </div>
    </div>
    <div class="d-flex justify-content-center" *ngIf="totalCount > 0">
      <app-pager
        [pageSize]="shopParams.pageSize"
        [totalCount]="totalCount"
        (pageChanged)="onPageChanged($event)"></app-pager>
    </div>
    <div class="d-flex justify-content-between align-items-center pb-2">
      <app-paging-header
        [totalCount]="totalCount"
        [pageSize]="shopParams.pageSize"
        [pageNumber]="shopParams.pageNumber"></app-paging-header>
      <!-- <div class="row row-cols-auto g-1 align-items-center">
          <div class="col">
            <input (keyup.enter)="onSearch()" type="text" class="form-control mr-2" #search placeholder="Search" />
          </div>
          <div class="col"><button (click)="onSearch()" class="btn btn-outline-primary my-1">Search</button></div>
          <div class="col"><button (click)="onReset()" class="btn btn-outline-success my-1">Reset</button></div>
        </div> -->
    </div>
  </section>
</div>
