.active {
  background-color: #fffbed;
  border-color: #ffc107;
  font-weight: bold;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.rounded-pill:hover {
  background-color: #fffbed;
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

a:target {
}

a {
  cursor: pointer;
  text-decoration: none;
}

#btnLeft:focus {
  transform: rotate(-180deg);
}
