<div class="row">
  <section class="d-none d-sm-block col-sm-4 col-md-3">
    <div class="accordion accordion-flush" id="accordionExample">
      <ng-container *ngFor="let category of categories; let i = index">
        <div class="accordion-item" *ngIf="category.parent === null">
          <div class="accordion-header d-flex align-items-center">
            <img src="{{ '../../assets/icons/' + category.url + '.svg' }}" alt="" style="width: 20px" />
            <a class="m-1 small fw-bold" [routerLink]="['/', category.url, category.url]">{{ category.name }}</a>
            <small
              ><span class="small text-muted">({{ category.count }})</span></small
            >
            <a
              class="ms-auto justify-content-center rounded-pill py-1"
              style="width: 30px; box-shadow: none"
              data-bs-toggle="collapse"
              [class.accordion-button]="category.childCategories"
              [attr.data-bs-target]="'#collapse' + i">
            </a>
          </div>
          <div
            *ngIf="category.childCategories"
            id="collapse{{ i }}"
            class="ms-4 accordion-collapse collapse show"
            aria-labelledby="headingOne">
            <div class="accordion-body p-0 pb-1">
              <div *ngFor="let child of category.childCategories">
                <a class="small link-dark" [routerLink]="['/', category.url, child.url]">{{ child.name }} </a>
                <small
                  ><span class="small text-muted">({{ child.count }})</span></small
                >
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </section>
  <section class="col-sm-8 col-md-9">
    <div>Vitrin</div>
    <hr class="m-2" />
    <div class="row">
      <div class="col g-2" *ngFor="let product of products">
        <app-product-item [product]="product"></app-product-item>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center pb-2">
      <div class="row row-cols-auto g-1 align-items-center">
        <div class="col">
          <input (keyup.enter)="onSearch()" type="text" class="form-control mr-2" #search placeholder="Search" />
        </div>
        <div class="col"><button (click)="onSearch()" class="btn btn-outline-primary my-1">Search</button></div>
        <div class="col"><button (click)="onReset()" class="btn btn-outline-success my-1">Reset</button></div>
      </div>
    </div>
  </section>
</div>
