<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-auto">
      <a routerLink="" class="link-dark text-decoration-none"><h1 class="bg-warning p-2">kuyumdan.com</h1></a>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <div class="col-10 col-md-6 col-lg-4">
      <div class="card shadow-lg">
        <div class="card-body">
          <tabset [justified]="true">
            <tab heading="Sign in"><app-login></app-login></tab>
            <tab heading="Sign up"><app-register></app-register></tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>
