<div class="row" *ngIf="accountService.currentUser$ | async as user">
  <section class="d-none d-sm-block col-sm-4 col-md-3">
    <div class="card">
      <div class="card-header h6">Kullanıcı Bilgilerim</div>
      <ul class="list-group list-group-flush">
        <a
          class="list-group-item list-group-item-action small"
          [routerLink]="['/members', user.id, 'membership']"
          routerLinkActive="active">
          Üyelik Bilgilerim
        </a>
      </ul>
      <div class="card-header h6">İlanlarım</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-action small">Özet</li>
        <li class="list-group-item list-group-item-action small">Yayında Olanlar</li>
        <li class="list-group-item list-group-item-action small">Yayında Olmayanlar</li>
      </ul>
    </div>
  </section>
  <section class="col-sm-8 col-md-9">
    <router-outlet></router-outlet>
  </section>
</div>
