<app-nav-bar></app-nav-bar>

<div class="container-xxl mt-2">
  <router-outlet></router-outlet>
</div>

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <!-- <ul class="nav col-md-4">
      <li class="nav-item"><a routerLink="/" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a routerLink="/uyeler" class="nav-link px-2 text-muted">Members</a></li>
      <li class="nav-item"><a routerLink="/shop" class="nav-link px-2 text-muted">Shop</a></li>
      <li class="nav-item"><a routerLink="/error/errors" class="nav-link px-2 text-muted">Errors</a></li>
    </ul> -->
    <div class="col-md-4 d-flex align-items-center">
      <span class="small mb-3 mb-md-0 text-muted px-2">Copyright © 2023 e-commerce-max. All rights reserved.</span>
    </div>
  </footer>
</div>
