<app-nav-bar></app-nav-bar>

<div class="container-xxl mt-2">
  <router-outlet></router-outlet>
</div>

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <ul class="nav col-md-4">
      <li class="nav-item"><a routerLink="/" class="nav-link px-2 text-muted">Ana Sayfa</a></li>
      <li class="nav-item"><a routerLink="/uyeler" class="nav-link px-2 text-muted">Üyeler</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-muted">© 2022 Kuyumdan.com. Tüm kullanım hakları saklıdır.</span>
    </div>
  </footer>
</div>
