<div class="row">
  <section class="col-sm-4 col-md-3">
    <ul class="list-group">
      <li class="list-group-item list-group-item-action p-2 fw-bold disabled text-dark">Kullanıcı Bilgilerim</li>
      <li class="list-group-item list-group-item-action"><small>Üyelik Bilgilerim</small></li>
      <li class="list-group-item list-group-item-action"><small>İletişim Bilgilerim</small></li>
      <li class="list-group-item list-group-item-action"><small>Şifre Değişikliği</small></li>
      <li class="list-group-item list-group-item-action p-2 fw-bold disabled text-dark">İlanlarım</li>
      <li class="list-group-item list-group-item-action"><small>Özet</small></li>
      <li class="list-group-item list-group-item-action"><small>Yayında Olanlar</small></li>
      <li class="list-group-item list-group-item-action"><small>Yayında Olmayanlar</small></li>
    </ul>
  </section>
  <section class="d-none d-sm-block col-sm-8 col-md-9">
    <app-membership-info></app-membership-info>
  </section>
</div>
