<div class="row">
  <div class="col-2 text-center" *ngFor="let photo of member.photos">
    <img src="{{ photo.url }}" alt="{{ photo.url }}" class="img-thumbnail p-1" />
    <div>
      <button
        [disabled]="photo.isMain"
        (click)="setMainPhoto(photo)"
        [ngClass]="photo.isMain ? 'btn-success active' : 'btn-outline-success'"
        class="btn btn-sm me-1">
        Main
      </button>
      <button [disabled]="photo.isMain" (click)="deletePhoto(photo.id)" class="btn btn-sm btn-danger">
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-2">
    <p class="h6">Add Photos</p>

    <div
      ng2FileDrop
      [ngClass]="{ 'nv-file-over': hasBaseDropzoneOver }"
      (fileOver)="fileOverBase($event)"
      [uploader]="uploader"
      class="card bg-faded p-3 text-center mb-3 my-drop-zone">
      <i class="fa fa-upload fa-3x"></i>
      Drop photos here
    </div>

    <div>Multiple</div>
    <input type="file" id="selectedFiles" style="display: none" ng2FileSelect [uploader]="uploader" multiple />
    <button class="btn btn-primary btn-sm" type="button" onclick="document.getElementById('selectedFiles').click();">
      Choose Files
    </button>

    <div class="mt-2">Single</div>
    <input type="file" id="selectedFile" style="display: none" ng2FileSelect [uploader]="uploader" multiple />
    <button class="btn btn-primary btn-sm" type="button" onclick="document.getElementById('selectedFile').click();">
      Choose File
    </button>
  </div>

  <div class="col-10 ps-5" *ngIf="uploader?.queue?.length">
    <h6>Upload queue, Queue length: {{ uploader?.queue?.length }}</h6>
    <p></p>

    <table class="table" aria-describedby="sdf">
      <thead>
        <tr>
          <th style="width: 50%">Name</th>
          <th>Size</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of uploader.queue">
          <td>
            {{ item?.file?.name }}
          </td>
          <td *ngIf="uploader.options.isHTML5">{{ item?.file?.size / 1024 / 1024 | number: ".4" }} MB</td>
        </tr>
      </tbody>
    </table>

    <div>
      Queue progress:
      <div class="progress">
        <div class="progress-bar" role="progressbar" [ngStyle]="{ width: uploader.progress + '%' }"></div>
      </div>
    </div>

    <div class="mt-3">
      <button
        type="button"
        class="btn btn-success btn-sm me-2"
        (click)="uploader.uploadAll()"
        [disabled]="!uploader.getNotUploadedItems().length">
        <span class="fa fa-upload"></span> Upload all
      </button>
      <button
        type="button"
        class="btn btn-warning btn-sm me-2"
        (click)="uploader.cancelAll()"
        [disabled]="!uploader.isUploading">
        <span class="fa fa-ban"></span> Cancel all
      </button>
      <button
        type="button"
        class="btn btn-danger btn-sm me-2"
        (click)="uploader.clearQueue()"
        [disabled]="!uploader.queue.length">
        <span class="fa fa-trash"></span> Remove all
      </button>
    </div>
  </div>
</div>
