<ng-container *ngIf="parentCategories">
  <app-breadcrumb [selectedCategoryId]="product.category.id"></app-breadcrumb>
  <div class="row">
    <h5>{{ product.name }}</h5>
    <hr />
  </div>
  <div class="row">
    <div class="col-auto">
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages" style="display: inline-block"></ngx-gallery>
    </div>
    <div class="col-3">
      <p class="text-primary fw-bold">{{ product.priceText }}</p>
      <div class="text-primary fw-bold small">
        <a
          [routerLink]="
            parentCategories[0]
              ? ['/', parentCategories[0].url, selectedCategory.url]
              : ['/', selectedCategory.url, selectedCategory.url]
          "
          [state]="{ cityId: product.county.city.id }"
          >{{ product.county.city.name }}</a
        >
        /
        <a
          [routerLink]="
            parentCategories[0]
              ? ['/', parentCategories[0].url, selectedCategory.url]
              : ['/', selectedCategory.url, selectedCategory.url]
          "
          [state]="{ cityId: product.county.city.id, countyId: product.county.id }"
          >{{ product.county.name }}</a
        >
      </div>
      <hr />
      <table class="table table-sm small">
        <tbody>
          <tr>
            <td>İlan no</td>
            <td>#{{ product.id }}</td>
          </tr>
          <tr>
            <td>İlan tarihi</td>
            <td>12.02.2022</td>
          </tr>
          <tr>
            <td>Durumu</td>
            <td>{{ product.isNew ? "Sıfır" : "İkinci El" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col d-flex justify-content-center align-items-start">
      <div class="card small shadow" style="width: 18rem">
        <div class="card-body">
          <div class="row align-items-center mb-2 gx-2">
            <div class="col-auto">
              <img src="{{ product.user.photoUrl }}" alt="" style="width: 50px" />
            </div>
            <div class="col">
              <span class="h6 card-title">{{ product.user.firstName }} {{ product.user.surname }}</span>
            </div>
          </div>

          <div class="card-text">
            <p class="text-muted">Hesap açma tarihi: {{ product.user.createdDate }}</p>
            <a href="" class="text-decoration-none">Tüm İlanları</a>
            <p>Cep {{ product.user.phoneNumber | mask: "(000) 000 00 00" }}</p>
          </div>
          <a href="#" class="btn btn-primary btn-sm">Mesaj Gönder</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <div class="card shadow-sm">
        <span class="card-header h6">Açıklama</span>
        <div class="card-body">
          <div class="card-text">
            <p>{{ product.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
