<ng-container *ngIf="parentCategories">
  <app-breadcrumb [selectedCategoryId]="product.categoryId"></app-breadcrumb>
  <div class="row justify-content-between">
    <div class="col-auto">
      <span class="h5">{{ product.name }}</span>
    </div>
    <div class="col-auto small">
      <a href="javascript:;" style="margin-right: 4rem" (click)="addLike()"
        ><em class="fa-solid fa-star me-2" [ngClass]="currentClasses"></em>
        <span *ngIf="product.isFavourite">Remove from Favorites</span>
        <span *ngIf="!product.isFavourite">Add to My Favorites</span>
      </a>
    </div>
    <hr />
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center mb-5 mb-md-0">
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages" style="display: inline-block"></ngx-gallery>
    </div>
    <div class="col d-flex justify-content-center">
      <div class="div" style="width: 18rem">
        <p class="text-primary fw-bold">{{ product.priceText }}</p>
        <div class="text-primary fw-bold small">
          <a
            [routerLink]="
              parentCategories[0]
                ? ['/', parentCategories[0].url, selectedCategory.url]
                : ['/', selectedCategory.url, selectedCategory.url]
            "
            [state]="{ cityId: product.county.city.id }"
            >{{ product.county.city.name }}</a
          >
          /
          <a
            [routerLink]="
              parentCategories[0]
                ? ['/', parentCategories[0].url, selectedCategory.url]
                : ['/', selectedCategory.url, selectedCategory.url]
            "
            [state]="{ cityId: product.county.city.id, countyId: product.county.id }"
            >{{ product.county.name }}</a
          >
        </div>

        <hr />
        <table class="table table-sm small">
          <tbody>
            <tr>
              <td>Ad No</td>
              <td>#{{ product.id }}</td>
            </tr>
            <tr>
              <td>Ad Date</td>
              <td>{{ product.createdDate | date : "dd.MM.yyy" }}</td>
            </tr>
            <tr>
              <td>Condition</td>
              <td>{{ product.isNew ? "New" : "Secondhand" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col d-flex justify-content-center align-items-start">
      <div class="card small shadow" style="width: 18rem">
        <div class="card-body">
          <div class="row align-items-center mb-2 gx-2">
            <div class="col-auto">
              <img src="{{ product.user.photoUrl }}" alt="" style="width: 50px" />
            </div>
            <div class="col">
              <span class="h6 card-title">{{ product.user.firstName }} {{ product.user.lastName }}</span>
            </div>
          </div>

          <div class="card-text">
            <p class="text-muted">Account opening date: {{ product.user.createdDate }}</p>
            <a routerLink="/urunler/{{ product.user.id }}" class="text-decoration-none">Other Ads</a>
            <p>Phone: {{ product.user.phoneNumber | mask : "(000) 000 00 00" }}</p>
          </div>
          <a href="#" class="btn btn-primary btn-sm">Send message</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <div class="card shadow-sm">
        <span class="card-header h6">Description</span>
        <div class="card-body">
          <div class="card-text">
            <p>{{ product.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="h6 text-center mt-3">{{ product.favouriteCount }} kişi favorilerine ekledi</div>
</ng-container>
