<div>
  <strong> {{ member.firstName }} - {{ member.email }}</strong>
</div>
<hr class="my-1" />
<div class="card">
  <div class="card-body" #scrollMe style="overflow: scroll; height: 500px" [scrollTop]="scrollMe.scrollHeight">
    <div *ngIf="(messageService.messageThread$ | async)?.length === 0">
      No messages yet... say hi by using the message box below
    </div>

    <ul *ngIf="(messageService.messageThread$ | async)!.length > 0" class="chat">
      <ng-container>
        <li *ngFor="let message of messageService.messageThread$ | async">
          <div class="row" *ngIf="user.email === message.recipient.userName">
            <div class="col-auto align-self-center">
              <span class="chat-img">
                <img
                  class="rounded-circle"
                  src="{{ message.senderPhotoUrl || './assets/user.png' }}"
                  alt="image of user" />
              </span>
            </div>
            <div class="col-9 col-md-11">
              <div class="row">
                <div class="col-12 col-md-auto small text-muted">
                  <span><i class="fa-solid fa-clock"></i> {{ message.messageSent | timeago }} </span>
                </div>
                <div class="col-12 col-md-auto small">
                  <span class="text-success" *ngIf="message.dateRead && message.senderUsername !== username"
                    >(read {{ message.dateRead | timeago }})</span
                  >
                  <span class="text-danger" *ngIf="!message.dateRead && message.senderUsername !== username"
                    >(unread)</span
                  >
                </div>
                <div class="col-12">
                  <div>{{ message.content }}</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="user.email === message.sender.userName">
            <div class="col-9 col-md-11">
              <div class="row">
                <div class="col-12 col-md-auto small text-muted">
                  <span><i class="fa-solid fa-clock"></i> {{ message.messageSent | timeago }} </span>
                </div>
                <div class="col-12 col-md-auto small">
                  <span class="text-success" *ngIf="message.dateRead && message.senderUsername !== username"
                    >(read {{ message.dateRead | timeago }})</span
                  >
                  <span class="text-danger" *ngIf="!message.dateRead && message.senderUsername !== username"
                    >(unread)</span
                  >
                </div>
                <div class="col-12">
                  <div>{{ message.content }}</div>
                </div>
              </div>
            </div>
            <div class="col-3 col-md-1 align-self-center">
              <span class="chat-img">
                <img
                  class="rounded-circle"
                  src="{{ message.senderPhotoUrl || './assets/user.png' }}"
                  alt="image of user" />
              </span>
            </div>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>

  <div class="card-footer">
    <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
      <div class="input-group">
        <input
          name="messageContent"
          required
          [(ngModel)]="messageContent"
          type="text"
          class="form-control input-sm"
          placeholder="Send a private message" />
        <div class="input-group-append">
          <button [disabled]="!messageForm.valid || loading" class="btn btn-primary" type="submit">
            Send <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
