<div class="form-floating mb-3">
  <input
    type="{{ type }}"
    [formControl]="control"
    placeholder="{{ label }}"
    class="form-control"
    [ngClass]="control.touched ? (control.invalid ? 'is-invalid' : 'is-valid') : null" />
  <div *ngIf="control.status === 'PENDING'" class="fa fa-spinner fa-spin loader"></div>
  <label for="floatingInput">{{ label }}</label>
  <div *ngIf="control.errors?.['required']" class="invalid-feedback">Please enter your {{ label }}</div>
  <div *ngIf="control.errors?.['email']" class="invalid-feedback">Invalid email address</div>
  <div *ngIf="control.errors?.['pattern']" class="invalid-feedback">Password not complex enough</div>
  <div *ngIf="control.errors?.['emailExists']" class="invalid-feedback">Email address is taken</div>
</div>

<!-- <div class="form-floating mb-3">
  <input
    [ngClass]="control.touched ? (control.invalid ? 'is-invalid' : 'is-valid') : null"
    type="{{ type }}"
    class="form-control"
    [formControl]="control"
    placeholder="{{ label }}" />
  <label for="floatingInput">{{ label }}</label>

  <div *ngIf="control.status === 'PENDING'" class="fa fa-spinner fa-spin loader"></div>

  <div *ngIf="control.errors?.required" class="invalid-feedback">Please enter your {{ label | lowercase }}</div>
  <div *ngIf="control.errors?.email" class="invalid-feedback">Invalid email address</div>
  <div *ngIf="control.errors?.minlength" class="invalid-feedback">
    {{ label }} must be at least {{ control.errors.minlength["requiredLength"] }}
  </div>
  <div *ngIf="control.errors?.maxlength" class="invalid-feedback">
    {{ label }} must be at most {{ control.errors.maxlength["requiredLength"] }}
  </div>
  <div *ngIf="control.errors?.isMatching" class="invalid-feedback">Passwords do not match</div>
  <div *ngIf="control.errors?.['emailExists']" class="invalid-feedback">Email address is taken</div>
  <div *ngIf="control.errors?.['notMatching']" class="invalid-feedback">Passwords do not match</div>
</div> -->
