<!-- <div class="card mb-1">
  <div class="row g-0 text-center align-items-center border">
    <div class="col-2">
      <img src="{{ product.pictureUrl }}" style="max-height: 150px" class="img-fluid rounded-start" alt="..." />
    </div>
    <div class="col-6">
      <small class="card-text">
        {{ product.description }}
      </small>
    </div>
    <div class="col-2 px-1 border">
      <small class="card-text"> {{ product.price }} TL</small>
    </div>
    <div class="col-1 px-1">
      <small class="card-text">22 Haziran 2022</small>
    </div>
    <div class="col-1 px-1">
      <small class="card-text">İstanbul Bahçelievlersadf</small>
    </div>
  </div>
</div> -->
<td> <img src="{{ product.pictureUrl }}" style="max-height: 150px" class="img-fluid rounded-start" alt="..." /></td>
<td> {{ product.description }}</td>
<td> {{ product.price }}</td>
