<ng-container *ngIf="member">
  <div class="card mb-3 shadow">
    <div class="card-body">
      <div class="row">
        <div class="col-10">
          <form>
            <div class="row row-cols-2">
              <div class="col mb-3">
                <label class="form-label small">İsim</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  name="username"
                  [(ngModel)]="member.firstName" />
              </div>
              <div class="col mb-3">
                <label class="form-label small">Soyisim</label>
                <input type="text" class="form-control form-control-sm" name="surname" [(ngModel)]="member.surname" />
              </div>
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Güncelle</button>
          </form>
        </div>
        <div class="col-2">
          <div class="card">
            <img src="{{ member.photoUrl || './assets/user.png' }}" alt="{{ member.username }}" class="card-img-top" />
            <div class="card-footer small">Fotoğraf Yükle</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3 shadow">
    <div class="card-body">
      <form>
        <div class="mb-3">
          <label class="form-label small">E-Posta</label>
          <input type="email" class="form-control form-control-sm" name="email" [(ngModel)]="member.username" />
        </div>
        <button type="submit" class="btn btn-sm btn-primary">Güncelle</button>
      </form>
    </div>
  </div>

  <!-- <hr />
  <div class="p-col-12 p-md-6 p-lg-4">
    <span>Phone</span>
    <p-inputMask mask="(999) 999 99 99" [(ngModel)]="val4" placeholder="(999) 999-9999"></p-inputMask>
  </div> -->

  <div class="card mb-3 shadow">
    <div class="card-body">
      <form>
        <div class="p-grid p-fluid mb-3">
          <label class="form-label small">Telefon Numarası</label>
          <p-inputMask
            mask="(999) 999 99 99"
            name="phoneNumber"
            class="p-0 p-inputtext-sm"
            [(ngModel)]="member.phoneNumber"></p-inputMask>
        </div>
        <button type="submit" class="btn btn-sm btn-primary">Güncelle</button>
      </form>
    </div>
  </div>

  <div class="card mb-3 shadow">
    <div class="card-body">
      <form>
        <p class="small">
          Şifreniz en az bir harf, rakam veya özel karakter içermeli. Ayrıca şifreniz en az 8 karakterden oluşmalı.
        </p>
        <div class="mb-3">
          <label class="form-label small">Mevcut şifre</label>
          <input type="password" class="form-control form-control-sm" name="password" />
        </div>
        <div class="mb-3">
          <label class="form-label small">Yeni şifre</label>
          <input type="password" class="form-control form-control-sm" name="password" />
        </div>
        <button type="submit" class="btn btn-sm btn-primary">Güncelle</button>
      </form>
    </div>
  </div>
</ng-container>
