<div class="card h-100 shadow-sm">
  <img src="{{ product.pictureUrl }}" alt="{{ product.name }}" class="card-img-top bg-info" />
  <div class="card-body d-flex flex-column">
    <a href="#">
      <h6 class="text-uppercase">{{ product.name }}</h6>
    </a>
    <span class="mb-2">{{ product.price | currency }}</span>

    <div class="btn-group mt-auto">
      <button type="button" class="btn btn-outline-secondary mr-2"><i class="fa fa-shopping-cart"></i></button>
      <button type="button" class="btn btn-outline-secondary">View</button>
    </div>
  </div>
</div>
