<header>
  <nav class="navbar navbar-expand-md navbar-light bg-warning bg-gradient py-1" aria-labelledby="navbar">
    <div class="container-xl">
      <div style="width: 160px">
        <a href="#" class="navbar-brand fw-bold text-dark py-0"><span class="small">kuyumdan.com</span></a>
      </div>
      <div class="col-sm-4 col-md-6 d-none d-sm-flex">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" placeholder="Ürün veya marka ara" />
          <button class="btn btn-outline-dark" type="button" id="button-addon1">
            <em class="fa-solid fa-magnifying-glass"></em>
          </button>
        </div>
      </div>
      <div class="d-flex flex-grow-1 justify-content-end d-none d-sm-flex" id="navbarCollapse">
        <form>
          <a href="#" class="btn btn-outline-dark me-2 btn-sm">Giriş Yap</a>
          <a href="#" class="btn btn-dark btn-sm">Ücretsiz İlan Ver</a>
        </form>
      </div>
    </div>
  </nav>
</header>
<nav class="navbar navbar-expand navbar-light bg-light fixed-bottom d-sm-none" aria-label="footer nav">
  <div class="container-fluid">
    <ul class="navbar-nav d-flex flex-grow-1 justify-content-around">
      <li class="nav-item">
        <a class="btn btn-outline-dark me-2 py-0 border-0" type="button" id="button-addon1">
          <em class="fa-solid fa-house fa-lsm"></em>
        </a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-dark me-2 py-0 border-0" type="button" id="button-addon1">
          <em class="fa-solid fa-border-all fa-lsm"></em>
        </a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-dark me-2 py-0 border-0" type="button" id="button-addon1">
          <em class="fa-solid fa-heart fa-lsm"></em>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="btn btn-outline-dark me-2 py-0 border-0" type="button" id="button-addon1">
          <em class="fa-solid fa-user fa-lsm"></em>
        </a>
      </li>
    </ul>
  </div>
</nav>
