<header class="navbar navbar-dark bg-dark">
  <div class="container-xl">
    <a class="navbar-brand fw-bold col-md-3 col-lg-2 me-0 px-2" href="#">Kuyumdan.com</a>
    <div class="me-auto ms-5">
      <input class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search" />
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
      <form class="d-flex">
        <a href="#" class="btn btn-outline-secondary me-2 btn-sm">Login</a>
        <a href="#" class="btn btn-outline-secondary me-2 btn-sm">Sign Out</a>
        <a href="#" class="btn btn-outline-secondary btn-sm">Give Order</a>
      </form>
    </div>
  </div>
</header>
<hr />
<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-xl">
      <a class="navbar-brand fw-bold " style="width: 230px;" href="#">Kuyumdan.com</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="col-12 col-md-4 mt-2 mt-md-0">
        <input class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search" />
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <form class="d-flex">
          <a href="#" class="btn btn-outline-secondary me-2 btn-sm">Login</a>
          <a href="#" class="btn btn-outline-secondary me-2 btn-sm">Sign Out</a>
          <a href="#" class="btn btn-outline-secondary btn-sm">Give Order</a>
        </form>
      </div>
    </div>
  </nav>
</header>
<hr />
<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-xl">
      <a class="navbar-brand fw-bold" href="#">Kuyumdan.com</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="col-12 col-md-4 me-auto ms-md-5 mt-2">
        <input class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search" />
      </div>

      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <form class="d-flex">
          <a href="#" class="btn btn-outline-secondary me-2 btn-sm">Login</a>
          <a href="#" class="btn btn-outline-secondary me-2 btn-sm">Sign Out</a>
          <a href="#" class="btn btn-outline-secondary btn-sm">Give Order</a>
        </form>
      </div>
    </div>
  </nav>
</header>
<hr />

<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-xl">
      <a class="navbar-brand fw-bold" href="#">Kuyumdan.com</a>
      <div class="me-auto ms-5 w-25">
        <input class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search" />
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <form class="d-flex">
          <a href="#" class="btn btn-outline-secondary me-2 btn-sm">Login</a>
          <a href="#" class="btn btn-outline-secondary text-nowrap btn-sm">Sign Out</a>
        </form>
      </div>
    </div>
  </nav>
</header>
<hr />
<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-xl">
      <a class="navbar-brand fw-bold" href="#">Kuyumdan.com</a>
      <div class="ms-md-5">
        <input class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search" />
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <form class="d-flex">
          <a href="#" class="btn btn-outline-secondary me-2 btn-sm">Login</a>
          <a href="#" class="btn btn-outline-secondary text-nowrap btn-sm">Sign Out</a>
        </form>
      </div>
    </div>
  </nav>
</header>

<hr />
<a href="#" class="btn btn-outline-secondary">Sign Out</a>
<header class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-xl">
    <a class="navbar-brand fw-bold" href="#">Kuyumdan.com</a>

    <div><input class="form-control" type="text" placeholder="Search" /></div>
    <a class="position-relative" style="margin-right: -20px">
      <i class="fa-solid fa-heart me-5 text-light"></i>
      <div class="cart-no">13</div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="d-flex align-items-center">
      <div class="collapse navbar-collapse">
        <a href="#" class="btn btn-outline-secondary me-2">Login</a>
        <a href="#" class="btn btn-outline-secondary">Sign up</a>
      </div>
    </div>
  </div>
</header>

<hr />

<header class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-xl">
    <a class="navbar-brand fw-bold" href="#">Kuyumdan.com</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div><input class="form-control" type="text" placeholder="Search" /></div>
    <div class="ms-3">
      <button class="btn btn-outline-success text-nowrap" type="submit">Sign Out</button>
    </div>
  </div>
</header>
<hr />

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Company name</a>
  <button
    class="navbar-toggler position-absolute d-md-none collapsed"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search" />
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" href="#">Sign out</a>
    </div>
  </div>
</header>

<header class="container-fluid pt-2">
  <div class="d-flex flex-column flex-md-row align-items-center justify-content-between pb-3 mb-4 border-bottom">
    <img src="/assets/images/logo.png" style="max-height: 70px" alt="logo" />
    <nav class="d-inline-flex mt-2 mt-md-0 text-uppercase" style="font-size: larger">
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Home</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Shop</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Contact</a>
    </nav>
    <div class="d-flex align-items-center">
      <a class="position-relative">
        <i class="fa-solid fa-heart fa-2x me-5 text-dark"></i>
        <div class="cart-no">13</div>
      </a>
      <a href="#" class="btn btn-outline-secondary me-2">Login</a>
      <a href="#" class="btn btn-outline-secondary">Sign up</a>
    </div>
  </div>
</header>
