<div class="row">
  <section class="d-none d-sm-block col-sm-4 col-md-3">
    <ul class="list-group mt-5">
      <li
        class="list-group-item list-group-item-action d-flex justify-content-between align-items-start p-2"
        *ngFor="let brand of brands"
        [class.active]="brand.id === shopParams.brandId"
        [value]="brand.id"
        (click)="onBrandSelected(brand.id)">
        <small class="me-auto"> {{ brand.name }}</small>
        <small class="badge bg-secondary rounded-pill">12</small>
      </li>
    </ul>
  </section>
  <section class="col-sm-8 col-md-9">
    <div class="d-none d-md-block">
      <table
        class="table table-striped table-hover table-bordered align-middle sortable"
        style="text-align: center"
        aria-label="Ürünler">
        <thead>
          <tr>
            <th scope="col" style="width: 100px"></th>
            <th scope="col" style="text-align: start"><small>İlan Başlığı</small></th>
            <th scope="col" style="width: 80px" appSort="price" (headerClicked)="onHeaderClicked($event)">
              <small>Fiyat</small>
            </th>
            <th scope="col" style="width: 100px" appSort="date" (headerClicked)="onHeaderClicked($event)">
              <small>İlan Tarihi</small>
            </th>
            <th scope="col" style="width: 100px"><small>İl / İlçe</small></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products" style="line-height: 20px">
            <td>
              <img src="{{ product.pictureUrl }}" style="max-height: 100px" class="img-fluid rounded-start" alt="..." />
            </td>
            <td style="text-align: start">
              <small>{{ product.name }}</small>
            </td>
            <td style="color: brown" class="text-nowrap">
              <small>{{ product.price }} TL</small>
            </td>
            <td>
              <small>{{ product.created }}</small>
            </td>
            <td>
              <small>İstanbul Bahçelievler</small>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-md-none">
      <table class="table table-striped table-hover table-bordered" aria-label="Ürünler" aria-hidden="true">
        <tbody>
          <tr *ngFor="let product of products" style="line-height: 20px">
            <td style="width: 100px">
              <img src="{{ product.pictureUrl }}" style="max-height: 100px" class="img-fluid rounded-start" alt="..." />
            </td>
            <td style="position: relative">
              <div class="mt-2">
                {{ product.name }}
              </div>
              <div style="position: absolute; bottom: 10px; font-size: 14px" class="text-muted">
                <i class="fa-solid fa-location-dot me-2"></i>
                <small>İstanbul / Bahçelievler </small>
              </div>
              <div style="position: absolute; bottom: 10px; right: 5px" class="text-primary fw-bold">
                <small>{{ product.price }} TL</small>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-center" *ngIf="totalCount > 0">
      <app-pager [pageSize]="shopParams.pageSize" [totalCount]="totalCount" (pageChanged)="onPageChanged($event)">
      </app-pager>
    </div>
    <div class="d-flex justify-content-between align-items-center pb-2">
      <app-paging-header
        [totalCount]="totalCount"
        [pageSize]="shopParams.pageSize"
        [pageNumber]="shopParams.pageNumber"></app-paging-header>
    </div>
  </section>
</div>
