<ng-container *ngIf="member">
  <div class="row">
    <div class="col-10">
      <form>
        <div class="mb-3">
          <label class="form-label">E-Posta</label>
          <input type="email" class="form-control" name="email" [(ngModel)]="member.username" />
        </div>
        <button type="submit" class="btn btn-primary">Kaydet</button>
      </form>
    </div>
    <div class="col-2">
      <div class="card">
        <img
          src="{{ member.photoUrl || './assets/user.png' }}"
          alt="{{ member.username }}"
          class="card-img-top img-thumbnail" />
        <div class="card-body">Fotoğraf Yükle</div>
      </div>
    </div>
  </div>
</ng-container>
