.cart-no {
  position: absolute;
  min-height: 15px;
  min-width: 15px;
  border-radius: 50%;
  font-size: 0.85em;
  background: rgb(50, 50, 50);
  color: white;
  text-align: center;
  top: -6px;
  right: -6px;
}