<header>
  <nav class="navbar navbar-expand navbar-light bg-warning bg-gradient py-1" aria-labelledby="navbar">
    <div class="container-xxl">
      <div class="col-5 col-sm-4 col-md-3 p-0 m-0">
        <a class="navbar-brand fw-bold text-dark" routerLink=""><span class="small">kuyumdan.com</span></a>
      </div>
      <div class="col-5 col-sm me-sm-2 me-md-5">
        <div class="input-group input-group-sm border border-secondary rounded me-5">
          <input
            (keyup.enter)="onSearch()"
            [(ngModel)]="shopService.searchTerm"
            type="search"
            class="form-control border-0"
            placeholder="Ürün veya marka ara"
            (search)="onReset()" />
          <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-outline-dark border-0" type="button" (click)="onSearch()">
              <em class="fa-solid fa-magnifying-glass"></em>
            </button>

          </div>
        </div>
      </div>
      <a
        *ngIf="(accountService.currentUser$ | async) === null"
        href="#"
        class="btn btn-outline-dark me-1 btn-sm text-nowrap d-none d-sm-flex"
        routerLink="giris"
        >Giriş Yap</a
      >
      <div
        *ngIf="accountService.currentUser$ | async as user"
        class="navbar-nav justify-content-around align-items-center d-none d-sm-flex">
        <div class="btn-group" dropdown>
          <a dropdownToggle type="button" class="nav-link dropdown-toggle small py-0" aria-controls="dropdown-basic">
            {{ user.firstName | titlecase }}<span class="caret"> </span>
          </a>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu small" role="menu" aria-labelledby="button-basic">
            <li role="menuitem">
              <a class="dropdown-item small" routerLink="/uye/uyelik">Edit Profile</a>
            </li>
            <li role="menuitem" *appHasRole="['Admin', 'Moderator']">
              <a class="dropdown-item small" routerLink="/admin">Admin</a>
            </li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item small" (click)="logout()">Logout</a></li>
          </ul>
        </div>
        <a
          class="btn btn-outline-dark p-1 me-1 border-0"
          type="button"
          routerLink="/uyeler/messages"
          routerLinkActive="active">
          <em class="fa-solid fa-envelope fa-lg"></em>
        </a>
        <a class="btn btn-outline-dark p-1 me-1 border-0" type="button">
          <em class="fa-solid fa-bell fa-lg"></em>
        </a>
        <a class="btn btn-outline-dark p-1 me-1 border-0" type="button" routerLink="/lists" routerLinkActive="active">
          <em class="fa-solid fa-star fa-lg"></em>
        </a>
        <a class="btn btn-outline-dark p-1 me-1 border-0 d-none d-sm-block d-md-none" type="button">
          <em class="fa-solid fa-circle-plus fa-lg"></em>
        </a>
      </div>
      <a *ngIf="accountService.currentUser$ | async" href="#" class="btn btn-dark btn-sm d-none d-md-block text-nowrap"
        >İlan Ver</a
      >
      <a
        *ngIf="(accountService.currentUser$ | async) === null"
        href="#"
        class="btn btn-dark btn-sm d-none d-sm-block text-nowrap"
        >İlan Ver</a
      >
    </div>
  </nav>
</header>

<footer class="navbar navbar-expand navbar-light bg-dark fixed-bottom d-sm-none" aria-label="footer nav">
  <div class="container-fluid">
    <ul class="navbar-nav flex-grow-1 justify-content-around">
      <li class="nav-item">
        <a class="btn btn-outline-warning py-0 border-0" routerLink="/" type="button">
          <em class="fa-solid fa-house"></em>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="btn btn-outline-warning py-0 border-0"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasExample"
          type="button">
          <em class="fa-solid fa-border-all"></em>
        </a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-warning py-0 border-0" type="button">
          <em class="fa-solid fa-star"></em>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="btn btn-outline-warning py-0 border-0" type="button">
          <em class="fa-solid fa-user"></em>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="btn btn-outline-warning py-0 border-0" type="button">
          <em class="fa-solid fa-circle-plus"></em>
        </a>
      </li>
    </ul>
  </div>
</footer>

<div
  class="offcanvas offcanvas-start text-bg-light"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
  style="width: 70%">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Categories</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <app-main-menu></app-main-menu>
  </div>
</div>
